body {
  font-family: Arial, sans-serif;
  background-color: #f5f0fa;
  overflow-y: auto; /* Enable scrolling */
}

.container {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.title-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.title {
  font-family: 'Arial', sans-serif;
  color: #007bff;
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

.form-row {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  min-width: 200px;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-text {
  color: #6c757d;
}

.history-modal {
  max-height: 400px; /* Adjusted height to avoid double scroll */
  overflow-y: auto;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-group .btn {
  border-radius: 20px; /* Ensure all buttons have rounded borders */
}

.modal-body {
  max-height: 70vh; /* Increase modal body height */
  overflow-y: auto; /* Ensure only the modal body scrolls */
}

@media (max-width: 768px) {
  body {
    background-color: white;
  }

  .container {
    box-shadow: none;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row .form-group {
    width: 100%;
  }

  .d-grid {
    display: block;
  }

  .d-grid button {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-outline-primary,
  .btn-outline-secondary {
    margin-bottom: 10px;
  }

  .btn-group {
    flex-direction: column;
  }
}
